<mat-card-header>
  <div mat-card-avatar ></div>
  <mat-card-title>List of Users</mat-card-title>
</mat-card-header>
<table mat-table class="mat-elevation-z8">
  <tr mat-header-row>
    <th mat-header-cell>username</th>
    <th mat-header-cell>email</th>
    <th mat-header-cell>address</th>
    <th mat-header-cell>phone number</th>
    <th mat-header-cell>account</th>
    <th mat-header-cell>login failure</th>
  </tr>
  <tr mat-row *ngFor="let user of users" (click)="openDialog(user)">
    <td mat-cell>{{user.username}}</td>
    <td mat-cell>{{user.email}}</td>
    <td mat-cell>{{user.addresses}}</td>
    <td mat-cell>{{user.phonenumbers}}</td>
    <td mat-cell>{{user.type}}</td>
    <td mat-cell>{{user.loginfailure}}</td>
  </tr>
</table>
<pre>
    {{users | json}}
</pre>
