<div>
  <table id='users'>
    <th>username</th><th>email</th><th>address</th><th>phone number</th><th>account</th><th>login failure</th>
    <tr *ngFor="let user of users" (click)="requestUser(user.username)">
      <td id="username">{{user.username}}</td>
      <td id="email">{{user.email}}</td>
      <td id="address">{{user.addresses}}</td>
      <td id="phone">{{user.phonenumbers}}</td>
      <td id="account">{{user.type}}</td>
      <td id="failure">{{user.loginfailure}}</td>
    </tr>  
  </table>
</div>

    <!-- <th>created</th><th>password exp</th><th>last sign on</th> -->
      <!-- <td id="created">{{user.accountcreated}}</td>
      <td id="expiration">{{user.passwordexpire}}</td>
      <td id="lastlogin">{{user.lastlogin}}</td> -->