<div class="container">
	<div class="row">
		<h1 class="col-sm-12">
			{{title}}
		</h1>
		<section>
			<ul>
				<h5>Add Group</h5>
				<input #newGroup (keyup.enter)="addGroup(newGroup.value)" currentVal="">
			</ul>
		</section>
		<section class="group-panel col-md-6">
			<h3>Groups</h3>
			<select #selectGroup (change)="loadSelected(selectGroup.value)">
				<option *ngFor="let g of groups">{{g.group}}</option>
			</select>
			<ul class="groups">
				<li *ngFor="let g of group.people">
					<h4>{{ g.group }}</h4>
					<kendo-sortable [zone]="'contacts'" [navigatable]="true" [data]="group.people" [activeItemClass]="'active'"
					 [emptyItemClass]="'contact-info--empty'" [emptyText]="'Drag contacts here'" (dataAdd)="onAdd($event, g)">
						<ng-template let-item="item">
							<div class="contact-info">
								<div class="row">
									<div class="col-sm-9">
										<h5>{{ group |json }}</h5>
									</div>
								</div>
							</div>
						</ng-template>
					</kendo-sortable>
				</li>
			</ul>
		</section>
		<section class="group-panel col-md-6">
			<h3>Ungrouped</h3>
			<kendo-sortable [zone]="'contacts'" [navigatable]="true" [data]="ungroupedContacts" [activeItemClass]="'active'"
			 [emptyItemClass]="'contact-info--empty'" [emptyText]="'Drag contacts here'">
				<ng-template let-item="item">
					<div class="contact-info">
						<div class="row">
							<div class="col-sm-9">
								<h5>{{ item.name }}</h5>
							</div>
						</div>
					</div>
				</ng-template>
			</kendo-sortable>
		</section>
	</div>
</div>
<pre>
	{{group | json}}
</pre>